#app{
    display: block;
    text-align: center;
}

div.controls{
    display: inline-block;
    margin: 2em auto;
}

div.controls > input{
    display: block;
    width:50%;
    margin: auto;
    padding: 10px 15px;
}

button{
    display: block;
    min-width: 70%;
    margin: 4px auto;
    padding: 10px 15px;
    border: none;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}